html {
	background-color: #F1F1EF;

}


/* override / eliminate the annoying top border on tbody tr */
tbody,
tbody tr {
	border-top: none;
}



 .author-datetime {
 	display:none;
 }

 /* Get rid of bottom margins in the header  */
.region-header .block {
	margin:0;
}
.block {
	margin-bottom: 0;
}


/* dont show breadcrumbs */
ol#crumbs {
	display: none;
}



body {
	background-color: #F1F1EF;
	/* background: #F1F1EF url("/files/images/body_background.gif") repeat-x left top; */
	width:966px;

	margin:0;
	padding:0;
	font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size: 13px;
	color: #1c1e1c;


}



.fpx_logo_block{
	padding-top:10px;
	padding-left: 20px;
}

#main-content {

	background: url("/files/images/bg-content-shadow.png") no-repeat;
	padding-left:43px;	
	margin-left:0;
}

 /*  dont show the page title in the middle of the page */
 h1#page-title {
 	
 	background: #fff url("/files/images/bg-content-title.png") no-repeat;
 	
	color: #1c1e1c;
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	padding: 31px 15px 0 37px;
	border-bottom:1px solid #999A8F;

 }

#content {

	padding: 17px 38px 0px;  /* 17top, 38 sides, 0 bottom */

	background:white;

	background-color: #fff;
	height: auto;
	min-height: 200px;
	
	

}

/* restrain the width of the main menu so the dotted lines only go half way */
#block-system-main-menu {
	width:100%;
	margin-top: -35px;

}
.menu li.leaf, .menu li.collapsed, .menu li.expanded {
	list-style-image: none;
	list-style-type: none;
	text-decoration: none;
}
.menu .active-trail {
	background-color: white;
}
.menu ul {
	margin-top:0; margin-bottom: 0;
}
.menu li {
	border-bottom: 1px dashed gray;
}
.menu li a {
	font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #0082c8;
	font-weight: bold;
}
.menu li a:link, .menu li a:visited {
	color: #0082c8; text-decoration: none;
}
.menu .menu-depth-3 a:link {
	color:gray;
	font-style: italic;
}
.menu li a.active {
	color: black;
}







/* adjust the flexslider div on the homepage to take up the prope */
.flexslider {
	width: 110%;
	padding: 0px;
	margin-left: -33px;
	margin-bottom: 0px;
	border:none;
	/*max-height:347px;*/
}


/* adjustments on the bottom block for the home page */
.fpx_home_bottomblock {
	background:white;
	width:936px;
	margin-left:20px;
}
#mini-panel-fpx_home_page_bottom_content_min {
	
	margin-top: -20px;

}